.pause-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pause-menu h2 {
  margin: 0;
}

.pause-menu button {
  margin-top: 1em;
  padding: 1em;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}
