.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__header {
  text-align: center;
}

.app__tetrion {
  flex: 1 auto;
  display: flex;
  align-items: center;
}

.app__footer {
  text-align: center;
}
