* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: rgba(150, 150, 150, 1);

  /* Border Colors are all transparent colors.
  These will tint or shade the background color of theplayfield cell. */
  --border-left-color: rgba(255, 255, 255, 0.2);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  /* Block Colors:  background colors for the playfield cell.*/
  --color-0: #0d0d0d;
  --color-1: #04c4d9;
  --color-2: #275af2;
  --color-3: #f2622e;
  --color-4: #f2cf1d;
  --color-5: #198c07;
  --color-6: #bf3f86;
  --color-7: #f41f27;

  /* Button Colors */
  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  /* Numbers define values that will be used throughout the CSS.
  --tile-size: 20px for example will set size of the grid squares. */
  --cols: 10;
  --rows: 18;
  --tile-size: 20px;
  --border-width: 5px;
}
