.tetrion {
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * var(--cols));
  --grid-height: calc(var(--tile-size) * var(--rows));

  width: calc(var(--tile-size) * 20);
  margin: auto;
  display: grid;
  grid-gap: var(--tile-size) var(--tile-size);
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  grid-template-rows: var(--grid-height) 100px;
  grid-template-areas:
    'left center right'
    '. bottom .';

  background: rgb(240, 248, 255);
  background: radial-gradient(
    circle,
    rgba(240, 248, 255, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 1rem;
  box-sizing: content-box;
}

.tetrion__game-information {
  grid-area: left;
}

.tetrion__matrix {
  grid-area: center;
}

.tetrion__next-queue {
  grid-area: right;
}

.tetrion__controls {
  grid-area: bottom;
}
