.controls {
  display: flex;
  justify-content: space-between;
}

.controls__move-buttons {
  display: flex;
}

.controls__move-buttons .controls__button-group:nth-child(2) {
  margin-top: 24px;
}

.controls__rotate-button {
  display: flex;
  align-items: center;
}

.controls__button-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.controls__button-group span {
  font-size: 12px;
  margin-top: 6px;
}
